/*HOME PAGE*/

* {
    box-sizing: border-box;
}

#homehead {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#homehead h1 {
    text-align: center;
    font-size: max(2.5rem,5vw);
    font-family: 'Trebucher-MS', sans-serif;
    margin-bottom: 0px;
}

#homehead a {
    text-decoration: none;
    color: black;
    border-color: black;
    border-radius: 18px;
    border-style: solid;
    padding: 8px 11px;
    margin-inline: 4px;
}

#homehead a:hover {
    background-color: rgb(255, 119, 0);
    color: white;
}

#plain {
    position: absolute;
    top: 150px;
    text-align: left;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    border-style: solid;
    border-width: thin;
    display: inline-block;
    margin-left: 5px;
}

@media only screen and (max-width: 700px) {
    #plain {display: none;}
}

/* Cracker */

#grah {
    top: 5px;
    width: 70%;
    text-align: center; 
    margin: auto;
    overflow: hidden;
}

#result {
    text-align: center;
    width: 80%; 
    padding: 20px;
    margin-top: 30px;
    font-size: clamp(.5vw,4rem,5rem);
    background-color: #c9c9c9;
    border: none;
    border-radius: 15px;
}

.time {
    color:black;
    font-size: clamp(1rem, 0.475rem + 2.34vw, 1.7rem);
    margin-top: 10px;
}

#expl {
    float: left;
    width: 20%;
    position: absolute;    
    padding-right: 10px; 
    top: 20%;
}

#inp {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: auto;
    margin-top: 30px;
}

#inp input,
#inp select,
#inp button {
    padding: 10px;
    margin: 5px;
}

/* NAV */

#closebtn {
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer;
    float: left;
    font-size: 40px;
    font-weight: bold;
    display: none;
}

#openbtn {
    position: absolute;
    float: left;
    display: none;
    text-align: right;
}

.Nav {
    margin: -8px;
    z-index: 1;
    display: block;
    overflow: hidden;
    background-color: black;
}

.Nav a,
.Nav button {
    float: left;
    display: block;
    color: white;
    padding: 16px 14px;
    margin: 3px;
    font-size: 20px;
    text-decoration: none;
}

#home {
    background-color: rgb(255, 119, 0);
    padding: 10px 8px;
    margin: 6px;
    margin-top: 9px;
    border-radius: 16px;
}

.Nav a:hover,
.Nav button:hover {
    background-color: rgb(30, 30, 30);
    color: lightgray;
}

#logout {
    float: right;
    border-radius: 6px;
    border-color: rgb(255, 119, 0);
    text-align: center;
    padding: 10px 8px;
    margin: 6px;
    margin-top: 9px;
    cursor: pointer;
    background-color: transparent;
}

@media only screen and (max-width: 700px) {
    .Nav a, .Nav button {display: none;}
    .Nav {height: 5vh;}
    #openbtn {display: block;
    position: absolute;
    right: 10px;
    top: 10px;}
}

@media only screen and (max-width: 700px) {
    .Nav a {font-size: 14px;}
    .mobile {height: auto; position: absolute; width: 101vw;
    top: 0;}
    .mobile a,
    #closebtn,
    .mobile #logout {display: block; float: none; text-align: left;}
}

#but,
#cop {
    width: 100px;
    background-color: rgb(255, 119, 0);
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-inline: 5px;;
}

#but:hover, #cop:hover {
    background-color: rgb(220, 106, 6);
}

.gen {
    padding: 12px 20px;
    margin: 3px 0;
    display: inline-block;
    box-sizing: border-box;
}

.gen input {
    width: fit-content;
}

#lay {
    text-align: center; 
    width: 70%;
    margin: auto;
    margin-top: 2.5vh;
    display: flex;
    flex-direction: column;
}

#NewPass {
    font-size: 35px;
    background-color: rgba(255,255,255,.6);
    display: inline-block;
    text-align: center;
    overflow: auto;
    margin-top: 10px;
}

#Pass {
    display: inline-block;
}

#savebutgen {
    float: left;
}

@media only screen and (max-width: 700px) {
    #NewPass {font-size: 18px;}
    #but {margin-left: calc(50% - 50px);
        margin-right: calc(50% - 50px);
        margin-top: 10px;
        margin-bottom: 10px;;
    }
}

.logreg {
    width: 40%;
    position: absolute;
    top: 17%;
    left: 15%;
    right: 45%;
    border: none;
    border-radius: 10px;
    background-color: #eaeaea;
}

.logreg h1,
.logreg header,
#subm,
.logreg button,
#registerMod button {
    margin: 5px;
    margin-left: 0px;
}

.logreg button,
#registerMod button {
    display: block;
    cursor: pointer;
}

.logbut {
    width: 30%;
    line-height: 1.7rem;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 6px;
}

.logbut:hover {
    background-color: #1666cd;
}

.logreg input,
#registerMod input {
    width: 80%;
    margin-bottom: clamp(2px,4px,5px);
    border-style: solid;
    border-width: thin;
    padding: 10px;
    font-size: 15px;
}

.logreg form {
    margin: 20px;
}

#reg1 button {
    margin-left: 0px;
}

#save {
    width: 370px;
    display: flex;
    flex-direction: column;
    border-style: outset;
    margin: auto;
    margin-top: 25px;
    padding: 7px;
    float: left;
    margin-left: 25px;
}

#save input, #save button {
    margin: 5px;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    height: 22px;
}

.savehead {
    text-align: center;
    padding: 10px 0px;
    font-size: 24px;
    font-weight: bold;
}

#srchdb {
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 25px;
    margin-left: 25px;
    width: calc(80% - 330px);
    margin-right: 5%;
}

#showsearch {
    float: left;
    margin-top: 25px;
    margin-left: 25px;
}

#showsearch,
.tbcol td,
.tbcol th {
    border-collapse:collapse;
    border-style: solid;
    border-color: black;
}

 #shows{
    display: inline-block;
}

#saveflex {
    display: flex;
}

@media only screen and (max-width: 700px) {
    #saveflex {flex-direction: column;}
    #srchdb {width: 330px;}
}

.head {
    margin: 4px 0px;
    color: black;
    font-weight: bold;
    font-family: georgia, sans-serif;
}

#registerMod {
    position: fixed;
    left: 15%;
    right: 45%;
    width: 40%;
    background-color: white;
    top: 10%;
}

#registerMod input, #registerMod button, #registerMod h2 {
    margin: 10px;
    padding: 10px;
}

#ModDiv {
    position: fixed;
    z-index: 1;
    background-color: rgba(234,234,234,.8);
    min-width: 100%;
    display:none;
    top: 0;
    bottom: 0;
    margin: -8px;
}