* {
    box-sizing: border-box;
}

#plain {
    text-align: left;
    width: 60%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    border-style: solid;
    border-width: thin;
}

#plain header, #plain footer {
    text-align: left;
}

#time {
    color:darkorange;
    font-size: max(5rem,4vw);
}

#result {
    text-align: center;
    width: 80%;
    margin-top: 5%;
    height: 40vh;
    font-size: clamp(.5vw,4rem,5rem);
    background-color: #c9c9c9;
}

#grah {
    float: right;
    top: 5px;
    width: 70%;
    height: 80vh;
    text-align: center; 
    background-color: rgba(6, 56, 78, 0.7);
    margin: 5%;
    overflow: hidden;
}

#inp {
    margin-top: 5vh;
    float: left;
    width: 10%;
}

.closebtn {
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer;
    float: left;
    font-size: 40px;
    font-weight: bold;
}

.openbtn {
    position: absolute;
    float: left;
    margin-right: 1vw;
    top: .5vw;
    left: .5vw;
}

.Nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    float: left;
    display: block;
    height: 100%;
    transition: 0.5s;
    width: 0px;
    overflow-x: hidden;
    background-color: dimgrey;
}

.Nav a {
    padding-top: 1vw;
    display: block;
    color: white;
    padding-left: 1vw;
    font-size: 30px;
}

.Nav a:hover {
    font-weight: bolder;
    color: white;
    font-size: 35px;
}

@media only screen and (max-width: 700px) {
    .Nav a {font-size: 18px;}
}

#but {
    width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-left: -100px;
    margin-right: 50px;
}

.gen {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#lay {
    text-align: center; 
    background-color: gray;
    height: 90vh;
    width: 70%;
    margin: auto;
    margin-top: 2.5vh;
    display: flex;
    flex-direction: column;
}

#NewPass {
    font-size: 35px;
    background-color: rgba(255,255,255,.6);
    display: inline-block;
    text-align: center;
    overflow: auto;
}

#Pass {
    display: inline-block;
}

@media only screen and (max-width: 700px) {
    #NewPass {font-size: 18px;}
    #but {margin-left: calc(50% - 50px);
        margin-right: calc(50% - 50px);
        margin-top: 10px;
        margin-bottom: 10px;;
    }
}

#logout {
    position: absolute;
    float: right;
    border: 1px gray;
    text-align: center;
    padding: 5px 5px;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

#logout:hover {
    background-color: lightgrey;
}

.logreg {
    width: 40%;
    position: absolute;
    top: 5%;
    left: 15%;
    right: 45%;
    border: none;
    border-radius: 10px;
    background-color: #eaeaea;
}

.logreg h1,
.logreg header,
#subm,
.logreg button,
#registerMod button {
    margin: 5px;
    margin-left: 0px;
}

.logreg button,
#registerMod button {
    display: block;
    cursor: pointer;
}

.logbut {
    width: 30%;
    line-height: 1.7rem;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 6px;
}

.logbut:hover {
    background-color: #1666cd;
}

.logreg input,
#registerMod input {
    width: 80%;
    margin-bottom: clamp(2px,4px,5px);
    border-style: solid;
    border-width: thin;
    padding: 10px;
    font-size: 15px;
}

.logreg form {
    margin: 20px;
}

#reg1 button {
    margin-left: 0px;
}

#save {
    width: 370px;
    display: flex;
    flex-direction: column;
    border-style: outset;
    margin: auto;
    margin-top: 25px;
    padding: 7px;
    float: left;
    margin-left: 25px;
}

#save input, #save button {
    margin: 5px;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    height: 22px;
}

#srchdb {
    float: left;
    margin-top: 25px;
    margin-left: 25px;
}

#showsearch {
    float: left;
    margin-top: 25px;
    margin-left: 25px;
}

#showsearch,
.tbcol td,
.tbcol th {
    border-style: solid;
    border-collapse:collapse;
}

 #shows{
    display: inline-block;
}

#lay h1,
#lay h4 {
    margin: 0px;
}

#registerMod {
    position: fixed;
    left: 20%;
    right: 20%;
    width: 60%;
    background-color: white;
    top: 10%;
}

#registerMod input, #registerMod button, #registerMod h2 {
    margin: 10px;
    padding: 10px;
}

#ModDiv {
    position: fixed;
    z-index: 1;
    background-color: rgba(234,234,234,.8);
    min-width: 100%;
    display:none;
    top: 0;
    bottom: 0;
}