* {
    box-sizing: border-box;
}

#time {
    color:darkorange;
    font-size: max(5rem,4vw);
}

#result {
    text-align: center;
    width: 80%;
    margin-top: 5%;
    height: 40vh;
    font-size: clamp(.5vw,4rem,5rem);
    background-color: #c9c9c9;
}

#grah {
    float: right;
    top: 5px;
    width: 70%;
    height: 80vh;
    text-align: center; 
    background-color: rgba(6, 56, 78, 0.7);
    margin: 5%;
    overflow: hidden;
}

#inp {
    margin-top: 5vh;
    float: left;
    width: 10%;
}

.closebtn {
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer;
    float: left;
    font-size: 40px;
    font-weight: bold;
}

.openbtn {
    position: absolute;
    float: left;
    margin-right: 1vw;
}

.Nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    float: left;
    display: block;
    height: 100%;
    transition: 0.5s;
    width: 0px;
    overflow-x: hidden;
    background-color: dimgrey;
}

.Nav a {
    padding-top: 1vw;
    display: block;
    color: white;
    padding-left: 1vw;
    font-size: 30px;
}

a:hover {
    font-weight: bolder;
    color: white;
    font-size: 35px;
}

@media only screen and (max-width: 700px) {
    .Nav a {font-size: 18px;}
}

#but {
    width: 70%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.gen {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#lay {
    text-align: center; 
    background-color: gray;
    height: 90vh;
}

#NewPass {
    font-size: 40px;
    background-color: rgba(255,255,255,.6);
    display: inline-block;
    text-align: center;
    overflow: auto;
}

#Pass {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

@media only screen and (max-width: 700px) {
    #NewPass {font-size: 18px;}
}

#logout {
    float: right;
    border: 1px gray;
    text-align: center;
    padding: 5px 5px;
    margin-right: 10px;
    cursor: pointer;
}

#logout:hover {
    background-color: lightgrey;
}

#login {
    width: 40%;
    position: absolute;
    top: 5%;
    left: 15%;
    right: 45%;
}

#login input, button {
    margin: 5px;
}

#login input {
    width: 80%;
}