{% extends "layout.html" %}

{% block title %}
    Cracker
{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="static/crack.js"></script>
{% endblock %}

{% block body %}
    <div id="inp">
        <input type="text" name="crackp" placeholder="Password" autocomplete="off" required>
        <select required name="type">
            <option disabled selected value="3">Type</option>
            <option value="0">All</option>
            <option value="1">Digits</option>
            <option value="2">Letters</option>
        </select>
        <button id="subm" onclick="disable()" type="submit">Crack</button>
    </div>
    <div id="grah">
        <input readonly id="result">
        <p id="time"></p>
    </div>
{% endblock %}