{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div id="homehead">
        <header>
            <h1>SaGeCrack</h1>
        </header>
        <p style="font-size: clamp(1rem, 0.475rem + 2.34vw, 1.7rem);">
            Making the usage of web services more secure.
        </p>
        <p>
            <a href="/generator">Generator</a>
            <a href="/cracker">Cracker</a>
        </p>
    </div>
    <aside id="plain">
        <header><h3>About</h3></header>
        <p>This site was created for the Final Project of the <a href="https://cs50.harvard.edu/x/">CS50</a> by Harvard.
            CS50 put aside, you can find some useful security tools here
            including password generator, cracker and saver. The site was created
            using Flask on the backend with HTML, CSS and JavaScript on the frontend.<br><br>
            <b>Disclaimer:</b><br>The emphasis was on the functionalities of the page (i.e. the backend 
            Python and frontend JavaScript functions) over the UI/UX.
        </p>
        <footer>
            <h5>Created by Paavoto&#169;</h5>
        </footer>
    </aside>
{% endblock %}