{% extends "layout.html" %}

{% block body %}
{% for message in get_flashed_messages() %}
        <h1 style="color: red;">{{ message }}</h1>
    {% endfor %}
    <div class="logreg">
        <form action="/register" method="post">
            <input name="newname" type="text" autocomplete="off" required placeholder="Username">
            <input name="newpass" type="password" autocomplete="off" required placeholder="Password">
            <input name="confpass" type="password" autocomplete="off" required placeholder="Confirm password">
            <button type="submit">Register</button>
        </form>
    </div>
{% endblock %}