{% extends "layout.html" %}

{% block body %}
<div class="logreg">
        <form action="/register" method="post">
            <input name="newname" type="text" autocomplete="off" required placeholder="Username">
            <input name="newpass" type="password" autocomplete="off" required placeholder="Password">
            <input name="confpass" type="password" autocomplete="off" required placeholder="Confirm password">
            <button type="submit">Register</button>
        </form>
    </div>
{% endblock %}